**/*hidden.conf
**/*hidden.py

**/__pycache__/
**/*.py[cod]
**/*$py.class

obstructio/sound/background_music_old

deploy-*/
dev/betty
dev/chatbot_apiai
dev/chatbot_ellieslack
dev/emotibot_v1.0
dev/flask

