* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: Helvetica;
}
#chat_container {
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid black;
    margin: 40px 80px 0px 80px;
    width: 700px;
}
#chat_log {
    background-color: #718392;
    padding: 10px;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    height: 300px;
    width: 700px;
    font-size: 14px;
}
#chat_input_container {
    padding: 10px;
}
#chat_input {
    padding: 2px;
    font-size: 14px;
    width: 100%;
}

.chat_line {
    overflow: hidden;
    width: 100%;
    margin: 2px 0 12px 0;
}
.chat_triangle, .chat_triangle_user {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    left: -18px;
    border-width: 0 18px 13px 0;
    border-color: transparent #ffffff transparent transparent;
}
.chat_triangle_user {
    left: auto;
    right: -18px;
    border-width: 13px 18px 0 0;
    border-color: #234b9b transparent transparent transparent;
}
.chat_bubble, .chat_bubble_user {
    position: relative;
    float: left;
    background-color: #FFF;
    margin-top: 5px;
    line-height: 15px;
    padding: 10px 25px 10px 25px;
    margin-left: 20px;
    font-size: 14px;
}
.chat_bubble_user {
    float: right;
    margin-left: 0px;
    margin-right: 20px;
    background-color: #234b9b;
    color: #FFF;
}