<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Your Virtual Therapist</title>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel=stylesheet href="../static/css/chatbot.css">
</head>
<body>
    <div id="div_emotions_chart" style = "white-space: nowrap; width: 50%; height:100%">
        <canvas id="canvas_emotions_chart" class = "inline_left" style = "width: 50%; height:45%"></canvas>
        <div id="checkboxes_emotions_chart" class = "inline_left"></div>
        <canvas id="canvas_keywords_chart"  class = "inline_right" style= "width: 50%; height:45%"></canvas>
        <br>
    </div>
    <div id="show_chat_message"></div>
    <div id="messages_boxes_start"></div>
    
</body>
</html>
<script type="text/javascript" src="../static/js/run_socket.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/make_charts.js" charset="utf-8"></script>
