.topNavButtons {
    background-color: light gray;
    color: black;
    padding: 6px;
    font-size: 15px;
    border: black;
	border-width: 1px;
	border-style: none;
    cursor: pointer;
}
#instructions {
    display: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 75%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFFFFF; /*#FFF8DC;*/
    opacity: 1;
    border-radius: 10px;
}
#gameInfo {
    display: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 5%;
    top: 10%;
    width: 40%; /* Full width */
    height: 75%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFFFFF; /*#FFF8DC;*/
    opacity: 0.98;
    border-radius: 10px;
    
}
#closeGameInfo {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:5px;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#tilesLeft {
    font-size: 15px;
    display: block;
    top: 10%;
    left: 10%;
    font-weight:bold;
    margin-left:10px;
}
.lineDivider {
    display: block;
    height: 0px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding:
}
#lastMove {
    font-size: 15px;
    color: red;
    font-weight:bold;
    margin-left:10px;
}

#wordsPlayedTable {
    font-size: 15px;
    table-layout: fixed;
    border-collapse:separate;
    border-spacing:10px 5px;
}

.wordsPlayedRowTotal {
    font-weight: bold;
    font-size: 17px;
}
.wordsPlayedRow {
    background-color: #f5f5f5;
}

.wordsPlayedHeaderCell {
    font-weight: bold;
    border: none;
}
.wordsPlayedCell {
    padding-bottom:6px;
    padding-top:6px;
    padding-left: 6px;
    padding-right:18px;
    vertical-align:center;
    border-radius:5px;
    
}