<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat Bot</title>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel=stylesheet href="../static/css/chat.css">
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body>
    <div class="shout_box">
    <div class="header">EmotiBot<div class="close_btn">&nbsp;</div></div>
      <div class="toggle_chat">
      <div class="message_box">
        </div>
        <div class="user_info">
            <!--input name="shout_username" id="shout_username" type="text" placeholder="Your Name" maxlength="15" /-->
            <input name="shout_username" id="shout_username" type="text" placeholder="Your Name" />
            <input name="shout_message" id="shout_message" type="text" placeholder="Type Message Hit Enter"/> 
        </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript" src="../static/js/run_socket.js" charset="utf-8"></script>
