<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Scrabble Apprentice</title>
    <meta charset="utf-8"/>
    <!--CDN
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    -->
    <!--Local download location
    https://jquery.com/download/ (minified)
    https://github.com/socketio/socket.io-client/blob/master/dist/socket.io.js
    -->
    <script src=../static/lib/jquery-3.2.1.min.js></script>
    <script src=../static/lib/socket.io.js></script>    
    <link rel=stylesheet href="../static/css/board.css">
</head>
<body>
    <div id=rackComputer>
    </div>
    
    <div id=board>
    </div>
    <div id=rackHuman>
    </div>
    
    <div id=actionsHuman>
        <button id=startGame>Start Game</button>
        <button id=playMoveHuman>Play Move</button>
        <button id=exchangeTilesHuman>Exchange Tiles</button>
        <button id=passHuman>Pass</button>
    </div>
    
    <div id=gameInfo>
        <div id=lastMove></div>
        <div id=scoreComputer></div>
        <div id=scoreHuman></div>
        <div id=tilesLeft></div>
        <div id=wordsPlayedComputer>
            <table>
            </table>
        </div>
        <div id=wordsPlayedHuman>
            <table>
            </table>
        </div>
    </div>  


</body>
</html>
<script type="text/javascript" src="../static/js/run_game.js" charset="utf-8"></script>
