

#board{
	table-layout:fixed;
}

.boardCells {
	height: 32px;
	width: 32px;
	border: 1px solid white;
	text-align: center;
	font-size: 10pt;
    background-color: #efdfaf;
	/*padding: 2px;*/
}