#computerRack{
    table-layout:fixed;
}
#humanRack{
    table-layout:fixed;
}
.rackCell {
	height: 32px;
	width: 36px;
	border: none;
}

.exchangeCell {
	height: 32px;
	width: 36px;
	border: solid;
}


#boardAndGameInfo {
    /*height:510px;*/
}
#gameInfo {  
    vertical-align:center;
    /*float:right*/
}
#board{
	table-layout:fixed;
    /*position:absolute;
    left:0;
    float:left;*/
}

.boardCell {
	height: 32px;
	width: 32px;
	border: 1px solid grey;
    border-radius: 4px;
	/*padding: 2px;*/
}
.bonusOverlay {
    display: table-cell;
    text-align: center;
    width:100%;
    height:100%;
	vertical-align: middle;
    font-size: 6pt;
	font-family: arial;
}
.noBonusFill {
    background-color:#f1f1f1;
}  

.bonusFillTripleWord {
    color:black;
    background-color:#ec5858;
}
.bonusFillDoubleWord {
    color:black;
    background-color:#ffc0cb;
}
.bonusFillTripleLetter {
    color:black;
    background-color:#2da2e6;
}
.bonusFillDoubleLetter {
    color:black;
    background-color:#bbe0ff;
}

.tile {
	filter:alpha(opacity=90); 
	
    display: table-cell;
	width: 27px;
	height: 27px; /*27 px*/
	border-radius: 5px; /* round corners Opera, Chrome */
	-moz-border-radius: 5px; /* FF */
    
    font-size: 14pt;
	font-family: arial;
    
    text-align: center;
	vertical-align: middle;
    
    margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	z-index: 10; /*stack order -- higher = element in front*/
}
.tileFixed  {
    cursor: default;
}
.tileNotFixed {
    cursor: pointer;
}

.tileHuman {
	border: 3px solid #d4c491;
    background-color: #ead89f;
    border-style: solid;
}

.tileComputer {
	border: 3px solid #843a3a;
    background-color: #cc6d6d;
    border-style: solid;
}
.tilePoints {
    font-size: 8px;
}

.tileSelected {
    opacity:0.7;
}
.tileUnselected {
    opacity: 1;
}


.buttonClicked {
    opacity: 0.5;
}


/*
https://stackoverflow.com/questions/20456694/grid-of-responsive-squares
.rackCellDiv {
    background-color:green;
    width: 30%;
    padding-bottom: 30%;
}
.rackCellSquare {
    background-color:yellow;
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin:1.66%;
    overflow:hidden
}

.rackCellContent {
    background-color:purple;
    position:absolute;
    height:80%;
    width:90%; 
    padding: 10% 5%;
}
*/

